@model List<UserFile>

<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Created Date</th>
            <th>File status</th>
            <th>Download</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FileName</td>
            <td>@item.GetCreatedDate</td>
            <td>@item.FileStatus</td>
            <td><a href="/files/@item.FilePath" class="btn btn-primary @(item.FileStatus==FileStatus.Creating?"disabled":"")">Download</a></td>
        </tr>
    }
</table>